@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is made without using ASP.NET Core Identity as the task was to make a custom role based system.</a>.</p>
</div>
<div class="text-center">
    <h1 class="display-4">User Login Details</h1>
    <p>Admin -> email: admin@gmail.com  password: admin123</p>
    <p>Customer -> email: customer@gmail.com  password: customer123</p>
    <p>Supplier -> email: supplier@gmail.com  password: supplier123</p>
</div>