@model CustomRoleBased.Models.AddRolePermissionsViewModel
@{
}
<h2>Add Role Permissions</h2>
<form method="post" action="UserRoles" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Role Id</label>
        <select asp-for="RoleId" asp-items="Model.Roles" class="form-control">
            <option value="">Select a Role</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Page Id</label>
        <select asp-for="PageId" asp-items="Model.Pages" class="form-control">
            <option value="">Select a Page</option>
        </select>
    </div>    
    <button type="submit" class="btn btn-primary">Give Permission</button>
</form>
